
@font-face {
	font-family: 'icomoon';
	src:url('icomoon.woff') format('woff');
}

/* General styles for all types of buttons */
.progress-button {
    margin-top:25px;
    margin-left:180px;
	padding: 4 30px;
	outline: none;
	border: none;
    border-radius:6px;
	background: #1782dd;
	color: #fff;
	letter-spacing: 5px;
    font-size:18px;
	line-height: 1.7;
	overflow: hidden;
	-webkit-transition: -webkit-transform 0.2s;
	        transition: transform 0.2s;
}

.progress-button[disabled],
.progress-button[disabled].state-loading {
	cursor: default;
}

.progress-button .content {
	position: relative;
	display: block;
}

.progress-button .content::before,
.progress-button .content::after  {
	position: absolute;
	right: 20px;
	color:#135488;
	font-family: "icomoon";
	opacity: 0;
	-webkit-transition: opacity 0.3s 0.3s;
	transition: opacity 0.3s 0.3s;
}

.progress-button .content::before {
	content: "\e600"; /* Checkmark for success */
}

.progress-button .content::after {
	content: "\e601"; /* Cross for error */
}

.progress-button.state-success .content::before,
.progress-button.state-error .content::after {
	opacity: 1;
}

.notransition{
	-webkit-transition: none !important;
	transition: none !important;
}

.progress-button .progress {
	background: #148544;
}

.progress-button .progress-inner {
	position: absolute;
	left: 0;
	background: #135488;
	top: 0;
	width: 0;
	height: 100%;
	-webkit-transition: width 0.3s, opacity 0.3s;
	transition: width 0.3s, opacity 0.3s;
}



.progress-button .content {
	-webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
	transition: opacity 0.3s, transform 0.3s;
}

.progress-button .content::before,
.progress-button .content::after {
	top: 100%;
	right: auto;
	left: 50%;
	-webkit-transition: opacity 0.3s;
	transition: opacity 0.3s;
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
}

.progress-button.state-loading {
	-webkit-transform: scaleY(0.3);
	transform: scaleY(0.3);
}

.progress-button.state-loading .content {
	opacity: 0;
}

.progress-button.state-success .content,
.progress-button.state-error .content {
	-webkit-transform: translateY(-100%);
	transform: translateY(-100%);
}